/* 
========================
Body 
========================
*/

/* 
========================
Text Styling
========================
*/
.cit {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.name {
  font-weight: bolder;
  text-transform: capitalize;
}
h1,
h2,
h3 {
  text-transform: capitalize;
  text-align: center;
}
p {
  padding: 2rem 1.2rem;
}
.spoiler {
  color: red;
  text-align: center;
}
.name-center {
  text-align: center;
}

/* 
========================
Pro Cons
========================
*/
.pro-cons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}
.pro-cons li {
  list-style-type: none;
}
.pro {
  background-color: steelblue;
  box-shadow: 2px 2px black;
}
.cons {
  background-color: tomato;
  box-shadow: 2px 2px black;
}
/* 
========================
Footer
========================
*/

footer {
  text-align: center;
}
footer a {
  color: black;
  font-size: large;
  letter-spacing: 1rem;
}
